<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG-Admin</title>
    <link rel="shortcut icon" href="../public/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="leftHead">
                <img src="../public/img/logo.png">
                <p style="user-select: none">BLOG</p>
                <div>
                    <a id="userText" href="" @click.prevent="comName='user'">用户管理</a>
                    <a id="blogText" href="" @click.prevent="comName='blog'">博客管理</a>
                </div>
            </div>
            <div class="rightHead">
                <img src="../public/img/avatar.jpg" alt="">
                <p>管理者</p>
            </div>
        </header>
        <div></div>
        <div class="container">
            <component :is="comName"></component>
        </div>
    </div>
    <template id="user">
        <div class="userComponent">
            <div class="userHead">
                <p>ID</p>
                <p>nickName</p>
                <p>Phone</p>
                <p>Email</p>
                <p>BLOG-Num</p>
                <p>Delete</p>
            </div>
            <ul class="userItems">
                <li class="user_item" v-cloak v-for="(user, index) in userList" :key="index">
                    <p>{{ user.id }}</p>
                    <p>{{ user.nick_name }}</p>
                    <p>{{ user.phone }}</p>
                    <p>{{ user.email ? user.email:"Null" }}</p>
                    <p>{{ user.blog_num }}</p>
                    <p class="del" @click="deleteUser(user.id, index)">删除</p>
                </li>
            </ul>
            <div class="page">
                <p @click="previous">上一页</p>
                <p v-cloak>当前页 {{ nowPage }}</p>
                <p @click="next">下一页</p>
                <p v-cloak>共 {{ allPages }} 页</p>
            </div>
        </div>
    </template>
    <template id="blog">
        <div class="blogComponent">
            <div class="blogHead">
                <p>ID</p>
                <p>UserID</p>
                <p>Title</p>
                <p>Content</p>
                <p>KeyWords</p>
                <p>Number</p>
                <p>Delete</p>
            </div>
            <ul class="blogItems">
                <li class="blog_item" v-cloak v-for="(blog, index) in blogList" :key="index">
                    <p v-cloak>{{ blog.id }}</p>
                    <p v-cloak>{{ blog.user_id }}</p>
                    <p v-cloak>{{ blog.title }}</p>
                    <p v-cloak>{{ blog.content }}</p>
                    <p v-cloak>{{ blog.keywords }}</p>
                    <p v-cloak>{{ blog.collection_num }}</p>
                    <p v-cloak class="del" @click="deleteBlog(blog.id, index)">删除</p>
                </li>
            </ul>
            <div class="page">
                <p @click="previous">上一页</p>
                <p v-cloak>当前页 {{ nowPage }}</p>
                <p @click="next">下一页</p>
                <p v-cloak>共 {{ allPages }} 页</p>
            </div>
        </div>
    </template>
</body>
<script src="../public/lib/vue-2.4.0.js"></script>
<script src="../public/lib/sweetalert.min.js"></script>
<script src="../public/lib/axios.min.js"></script>
<script>
    Vue.component('user', {
        template:"#user",
        data:function(){
            return {
                onePageNum:"", // 一个页面可以展示的数据的数量
                userList:[], // 用户数据列表
                allPages:"", // 所有页数，根据总记录数和onePageNum计算
                nowPage: 1,
            }
        },
        mounted: function() {
            // 挂载组件时，添加now类，用于控制文字的样式
            var userText = document.getElementById("userText");
            userText.classList.add("now");

            // 检测是否登录
            var verify = localStorage.getItem("verify");
            if(!verify){
                swal({
                    title: "未登录，请先登录",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then(function(willDelete){
                    window.location.href = "/adminLogin";
                });
                return
            }

            // 获取div的高度，来决定一页渲染多少个数据
            this.onePageNum = parseInt(document.querySelector(".userItems").clientHeight / 38);

            // 发送请求，获取到第一页的数据
            var that = this;
            axios.post("/admin/userData", {
                page: 1,
                num: that.onePageNum // 一页可以展示多少条数据
            })
            .then(function(response){
                that.userList = response.data.users;
                that.allPages = Math.ceil(response.data.usersNum / that.onePageNum);
            })
            .catch(function(error){
                console.log(error);
            });
        },
        destroyed: function() {
            // 销毁组件时，移除now类
            var userText = document.getElementById("userText");
            userText.classList.remove("now");
        },
        methods:{
            // 点击上一页
            previous:function(){
                if(this.nowPage == 1){
                    swal({
                        title: "没有上一页啦！",
                        icon: "info",
                        button: false,
                        timer: 800,
                    });
                    return
                }
                this.nowPage = this.nowPage - 1;
                var that = this;
                axios.post("/admin/userData", {
                    page: that.nowPage,
                    num: that.onePageNum // 一页可以展示多少条数据
                })
                .then(function(response){
                    that.userList = response.data.users;
                    that.allPages = Math.ceil(response.data.usersNum / that.onePageNum);
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            // 点击下一页
            next:function(){
                if(this.nowPage == this.allPages){
                    swal({
                        title: "没有下一页啦！",
                        icon: "info",
                        button: false,
                        timer: 800,
                    });
                    return
                }
                this.nowPage = this.nowPage + 1;
                var that = this;
                axios.post("/admin/userData", {
                    page: that.nowPage,
                    num: that.onePageNum // 一页可以展示多少条数据
                })
                .then(function(response){
                    that.userList = response.data.users;
                    that.allPages = Math.ceil(response.data.usersNum / that.onePageNum);
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            deleteUser:function(userID, index){
                var that = this;
                swal({
                    title: "确认删除？",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then(function(willDelete){
                    if (willDelete) {
                        axios.post("/admin/deleteUser", {
                            user_id: userID
                        })
                        .then(function(response){
                            if(response.data.status){
                                that.userList.splice(index, 1);
                                swal({
                                    title: "删除成功",
                                    icon: "info",
                                    button: false,
                                    timer: 800,
                                });
                            }
                        })
                        .catch(function(error){
                            console.log(error);
                        });
                    }
                });
            }
        }
    });
    Vue.component('blog', {
        template:"#blog",
        data:function(){
            return {
                onePageNum:"", // 一个页面可以展示的数据的数量
                blogList:[], // 用户数据列表
                allPages:"", // 所有页数，根据总记录数和onePageNum计算
                nowPage: 1,
            }
        },
        mounted: function() {
            // 挂载组件时，添加now类，用于控制文字的样式
            var blogText = document.getElementById("blogText");
            blogText.classList.add("now");

            // 获取div的高度，来决定一页渲染多少个数据
            this.onePageNum = parseInt(document.querySelector(".blogItems").clientHeight / 38);

            // 发送请求，获取到第一页的数据
            var that = this;
            axios.post("/admin/blogData", {
                page: 1,
                num: that.onePageNum // 一页可以展示多少条数据
            })
            .then(function(response){
                for(var i=0; i<response.data.blogs.length; i++){
                    if(response.data.blogs[i].content.length > 8){
                        response.data.blogs[i].content = response.data.blogs[i].content.substr(0, 8) + "...";
                    }
                    if(response.data.blogs[i].keywords.length > 8){
                        response.data.blogs[i].keywords = response.data.blogs[i].keywords.substr(0, 8) + "...";
                    }
                    if(response.data.blogs[i].title.length > 8){
                        response.data.blogs[i].title = response.data.blogs[i].content.substr(0, 8) + "...";
                    }
                }
                that.blogList = response.data.blogs;
                that.allPages = Math.ceil(response.data.blogsNum / that.onePageNum);
            })
            .catch(function(error){
                console.log(error);
            });
        },
        destroyed: function() {
            // 销毁组件时，移除now类
            var blogText = document.getElementById("blogText");
            blogText.classList.remove("now");
        },
        methods:{
            previous:function(){
                if(this.nowPage == 1){
                    swal({
                        title: "没有上一页啦！",
                        icon: "info",
                        button: false,
                        timer: 800,
                    });
                    return
                }
                this.nowPage = this.nowPage - 1;
                var that = this;
                axios.post("/admin/blogData", {
                    page: that.nowPage,
                    num: that.onePageNum // 一页可以展示多少条数据
                })
                .then(function(response){
                    for (var i = 0; i < response.data.blogs.length; i++) {
                        if (response.data.blogs[i].content.length > 8) {
                            response.data.blogs[i].content = response.data.blogs[i].content.substr(0, 8) + "...";
                        }
                        if (response.data.blogs[i].keywords.length > 8) {
                            response.data.blogs[i].keywords = response.data.blogs[i].keywords.substr(0, 8) + "...";
                        }
                        if (response.data.blogs[i].title.length > 8) {
                            response.data.blogs[i].title = response.data.blogs[i].content.substr(0, 8) + "...";
                        }
                    }
                    that.blogList = response.data.blogs;
                    that.allPages = Math.ceil(response.data.blogsNum / that.onePageNum);
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            // 点击下一页
            next:function(){
                if(this.nowPage == this.allPages){
                    swal({
                        title: "没有下一页啦！",
                        icon: "info",
                        button: false,
                        timer: 800,
                    });
                    return
                }
                this.nowPage = this.nowPage + 1;
                var that = this;
                axios.post("/admin/blogData", {
                    page: that.nowPage,
                    num: that.onePageNum // 一页可以展示多少条数据
                })
                .then(function(response){
                    for (var i = 0; i < response.data.blogs.length; i++) {
                        if (response.data.blogs[i].content.length > 8) {
                            response.data.blogs[i].content = response.data.blogs[i].content.substr(0, 8) + "...";
                        }
                        if (response.data.blogs[i].keywords.length > 8) {
                            response.data.blogs[i].keywords = response.data.blogs[i].keywords.substr(0, 8) + "...";
                        }
                        if (response.data.blogs[i].title.length > 8) {
                            response.data.blogs[i].title = response.data.blogs[i].content.substr(0, 8) + "...";
                        }
                    }
                    that.blogList = response.data.blogs;
                    that.allPages = Math.ceil(response.data.blogsNum / that.onePageNum);
                })
                .catch(function(error){
                    console.log(error);
                });
            },
            // 删除博客
            deleteBlog:function(blogID, index){
                var that = this;
                swal({
                    title: "确认删除？",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then(function(willDelete){
                    if (willDelete) {
                        axios.post("/admin/deleteBlog", {
                            blog_id: blogID
                        })
                        .then(function(response){
                            if(response.data.status){
                                that.blogList.splice(index, 1);
                                swal({
                                    title: "删除成功",
                                    icon: "info",
                                    button: false,
                                    timer: 800,
                                });
                            }
                        })
                        .catch(function(error){
                            console.log(error);
                        });
                    }
                });
            }
        }
    });
    var vm = new Vue({
        el: "#app",
        data: {
            comName:"user",
            beforeUnload_time:""
        },
        mounted:function(){
            window.addEventListener('beforeunload', e => this.beforeunloadHandler(e));
            window.addEventListener('unload', e => this.unloadHandler(e));
        },
        destroyed() {
            window.removeEventListener('beforeunload', e => this.beforeunloadHandler(e));
            window.removeEventListener('unload', e => this.unloadHandler(e));
        },
        methods: {
            beforeunloadHandler(){
                this.beforeUnload_time = new Date().getTime();
            },
            unloadHandler(e){
                this._gap_time = new Date().getTime() - this.beforeUnload_time;
                //判断是窗口关闭还是刷新
                if(this._gap_time<=5){
                    localStorage.removeItem("verify");
                }
            },
        },
    });
</script>
</html>