<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>⊙ω⊙出错啦！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/404.png"/>
    <link rel="stylesheet" href="../public/css/notFound.css">
</head>
<body>
    <div id="app">
        <!-- 头部 -->
        <header>
            <div class="leftHead">
                <img src="../public/img/logo.png">
                <p>BLOG</p>
            </div>
            <a href="/blog" class="rightHead">返回首页</a>
        </header>

        <!-- 主体部分 -->
        <section class="main">
            <img src="../public/img/sorryBar.png" alt="">
            <img src="../public/img/404Bgc.png" alt="">
        </section>
    </div>
</body>
</html>